# Go
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
*.syso
go.work
versioninfo.json

# Сертификаты и ключи
certs/
keys/
updates/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
*.tmp
*.log

